---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---
<style>
  .project {
    display: flex;
    margin-bottom: 20px;
  }

  .left {
    flex: 1;
    padding: 10px;
  }

  .right {
    flex: 1;
    padding: 10px;
  }
</style>

{% include base_path %}

{% for post in site.projects %}

  <div class="project">
    <div class="left">
      <h2>{{ post.title }}</h2>
      <p><strong>Keywords:</strong> {{ post.keywords }}</p>
      <p><strong>Description:</strong> {{ post.description }}</p>
    </div>
    <div class="right">
      <img src="{{ post.image }}" alt="{{ post.title }} Image">
    </div>
  </div>

<!--   {% include archive-single.html %} -->
{% endfor %}
